@use "../tokens/tokens" as tokens;
@use "../mixins/mixins" as mixins;

#work {
  grid-area: work;
  display: grid;
  gap: 1.5rem;
  margin-top: 4rem;

  @media (min-width: tokens.$bp-desktop) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}

.project-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.quote {
  background-color: tokens.$clr-grey-100;
  padding: 1.5rem 1rem;
  border-radius: 0.625rem;

  p {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
}

.citation {
  color: tokens.$clr-grey-500;
  font-size: 1.125rem;
  line-height: 1.5;
  font-style: normal;
}

.project-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 0.625rem;
}

.project-image {
  display: none;
  background: center / contain no-repeat url("/assets/Project.png");
  height: 100%;
  width: 100%;
  border-radius: 0.625rem;
  padding: 1.5rem;
}

.project-image.alternate {
  background: center / contain no-repeat url("/assets/Project.png");
}

.project-content {
  padding: 1.5rem;
  margin-top: auto;
}

.project-heading {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #2c2c2c;
  font-weight: 500;
}

.project-description {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: tokens.$clr-grey-500;
}

.project-link {
  text-decoration: none;
  font-size: 1.25rem;
  color: #2c2c2c;
}
